# exclude data from source control by default
/Data/
*.zip
/Data_SK_P1_UK/
/Data_animation/
/Data_*/
db.json
#/Figures_SK_P1_UK/
*.joblib
*.pickle
*.parquet
GPS_coordinates.npy
/old/
/Figures/animation/tmp_*/
/Figures/N_connections/tmp_*/

#Jottacloud conflicted files
*(Conflicted)*
*jottacloud*
*.log

# autoswitch conda https://github.com/bckim92/zsh-autoswitch-conda
*.cenv

# C extensions
*.so

# unknown weird file
*.profraw

# VS Code
.vscode/
._environment.yaml
*.code-workspace

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store
._.DS_Store

# vim
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
