# exclude data from source control by default
/Data/
*.zip
/Data_SK_P1_UK/
/Data_animation/
/Data_*/
#/Figures_SK_P1_UK/
*.joblib
*.pickle
*.parquet
GPS_coordinates.npy
/old/

#Jottacloud conflicted files
*(Conflicted)*
*jottacloud*

# C extensions
*.so

# unknown weird file
*.profraw

# VS Code
.vscode/
._environment.yaml
*.code-workspace

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store
._.DS_Store

# vim
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
